<!DOCTYPE html>
<html lang="en">

<!--TITLE AND CSS AND JS LINKS-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PriceStalker</title>

  <link rel="stylesheet" href="../static/main.css">
  <script type="text/javascript" src="app.js"></script>
</head>

<!--HTML-->
<body>
  <div class="topOfSite">
    <div>
      <p class="title">PriceStalker</p>
    </div>
    <div class="logoutButton">
      <form method="POST" action="log_out">
        <input type="submit" value="Log Out">
      </form>
    </div>
  </div>
  <div class="container">
    <h3>Add Item</h3>
    <form method="POST" action="/add_item">
      <input id="new-task" type="text" name="task">
      <input type="submit" value="Add Item">
    </form>
    <h3>Tracked Items</h3>
    <ul id="incomplete-tasks">
      pythonInsert
      <li>
        pythonInsert
        <br>
          <p class="price">
            pythonInsert
          </p>
        <br>
      <form action="/delete" method="post">
        <button type="submit" value="{{ product['url'] }}" name="delete" class="delete">Delete</button>
      </form>
      </li>
      pythonInsert
    </ul>
    <h3>Previously Tracked Items</h3>
    <ul id="completed-tasks">
      pythonInsert
      <li>
        pythonInsert
        <br>
          <p class="price">
            pythonInsert
          </p>
          <br>
        <br>
        <form action="/delete_deleted_products" method="post">
          <button type="submit" value="{{ deleted_product['url'] }}" name="delete_deleted_products" class="delete_deleted_products">Delete</button>
        </form>
      </li>
      pythonInsert
    </ul>
  </div>
</body>
</html>