<html>
    <title>Amazon Price Tracker</title>
    <!-- <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='/styles.css') }}" type="text/css" media="screen" charset="utf-8">
    <div class="container">
        <p>
          <label for="new-task">Sign Up</label>
          <form action="/switch_to_login" method="POST">
            <input class="btn btn-default" type="submit" name = "switch" value="Login Instead">
          </form>
          <form action="/signup_data" method="POST"> 
               <input type="text" placeholder="Name" name="name" value="{{
                request.form.name }}">
               <br>
               <input type="text" placeholder="Email" name="email" value="{{
                request.form.username }}">
                <br>
               <input type="text" placeholder="Password" name="password" value="{{
                request.form.password }}">
               <br>
               <p>Would you like email notifications when a product goes on sale?</p><input type="checkbox" id="email_notif" name="email_notif" value="{{
                request.form.email_notif }}">
                <br>
               <input class="btn btn-default" type="submit" value="Sign Up">
              
          </form>
          <br>
          <p>{{ error }}</p>
        </p>
  
</html>